

extends layout

block content
  h1(class="title") Explore Research Papers Here:
  div(class="row")
    button(type="button" onclick="window.location.reload()") refresh
  script.
    var accessLink1 = function() {
        window.open('#{books[0].data}');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("demo").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("POST", "/");
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhttp.send("click=" + #{books[0].id});
        window.location.reload();
    }
    var accessLink2 = function() {
        window.open('#{books[1].data}');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("demo").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("POST", "/");
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhttp.send("click=" + #{books[1].id});
        window.location.reload();
    }
    var accessLink3 = function() {
        window.open('#{books[2].data}');
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // Typical action to be performed when the document is ready:
                document.getElementById("demo").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("POST", "/");
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhttp.send("click=" + #{books[2].id});
        window.location.reload();
    }
  div(class="row")
    div(class="column")
      h2 #{books[0].name}
      h2 #{books[0].abstract}
      button(onclick = 'accessLink1()') Link to paper
    div(class="column")
      h2 #{books[1].name}
      h2 #{books[1].abstract}
      button(onclick = 'accessLink2()') Link to paper
    div(class="column")
      h2 #{books[2].name}
      h2 #{books[2].abstract}
      button(onclick = 'accessLink3()') Link to paper

